<div ng-bind-html="mapCtrl.description" class="map-description"></div>
<ui-gmap-google-map center="mapCtrl.map.center" zoom="mapCtrl.map.zoom">
    <ui-gmap-marker idkey="mapCtrl.marker.id" coords="mapCtrl.marker.coords">
    </ui-gmap-marker>
</ui-gmap-google-map>