
<ul class="list-group">
    <li class="list-group-item"
        ng-repeat="event in listCtrl.events"
        ng-click = "listCtrl.onEventClick(event.id)"
        ng-class="{selected: event.id === listCtrl.currentEventId}">{{ event.name }}</li>
</ul>