.selected {
    background-color: #0096C0;
}
.list-group-item {
    cursor: pointer;
}
.angular-google-map-container {
    height: 350px;
}
.map-description {
    font-size: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.map-description p {
    font-size: 10px;
    font-style: italic;
}
.map-description h2 {
    font-size: 12px;
}

